@charset "utf-8";

ul {
    list-style: none;
    margin: 0 0 0 -20px;
    padding: 0px;
    /*width: 157px;*/
    display: inline;
}
ul li{
    position: relative;
  float: left;
  width: auto;
  min-width: 79px;
}

ul a{
	color: #00fefe;
    text-decoration: none;
    padding: 2px;
}

ul a:hover{
		color: #FF0000;
		background-color: #009898;
        background-color: #00FFFF;
        padding: 4 2 2 4px;
}

ul li a {
  display: block;
  text-decoration: none;
  color: #00ffff;
  padding: 1px 15px 1px 15px;
  background: transparent;
  margin-left: 1px;
  margin-top: 2px;
  white-space: nowrap;
}


#nav li:hover {
    background-color: #990000;
}

#nav {
    background-color: #FF0000;
    padding: 0px 0px 6px 0px;
}
#nav li{
    display: inline;
    padding: 1 5 1 5px;
}


#nav li ul{
    display: none;
    margin: 0 0 0 0px;
    position: absolute;
    left: 0px;
    width: auto;
    background-color: #990000;
}

#nav li:hover ul {
  display: inline;
}

#nav li:hover li {
  float: none;
  padding: 0px;
  margin: 0px;
}

#nav ul ul ul {
left: 43px;
top: -10px;
}


#nav ul li:hover ul ul, #nav ul li:hover ul ul ul, #nav ul li:hover ul ul ul ul{
    display:none;
    }
#nav ul li:hover ul, #nav ul li li:hover ul, #nav ul li li li:hover ul, #nav ul li li li li:hover ul{
    display:block;
    }